In [1]:
#练习1 - 开始了解你的数据 - 探索Chipotle快餐数据

In [3]:
#步骤1 导入必要的库
import pandas as pd

In [4]:
#步骤2 导入数据集地址
path1 = './datas/chipotle.tsv'

In [76]:
#步骤3 将数据集存入一个名为chipo的数据框内
chipo = pd.read_csv(path1, sep='\t')

In [8]:
#步骤4 查看前10行内容
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [12]:
#步骤6 数据集中有多少个列(columns)
chipo.shape[1] #5列数据
chipo.shape[0] #4622行数据

4622

In [13]:
#步骤7 打印出全部的列名称
chipo.columns #以列名为合计的list

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [15]:
#步骤8 数据集的索引是怎样的
chipo.index #4622行数据(index从0到4622)

RangeIndex(start=0, stop=4622, step=1)

In [28]:
#步骤9 被下单数最多商品(item)是什么?
c = chipo[['item_name', 'quantity']].groupby(['item_name'], as_index=False).agg({'quantity':sum})

In [30]:
c.sort_values(['quantity'], ascending=False, inplace=True)

In [31]:
c.head() #显示前5条
#上述两条语句，类似于SQL中的“select ITEM_NAME, QUANTITY GROUP BY item_name ORDER BY SUM(quantity) desc”

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

In [33]:
#步骤10 在item_name这一列中，一共有多少种商品被下单？
#去重
chipo['item_name'].nunique() #number of unique

50

In [36]:
#步骤11 在choice_description中，下单次数最多的商品是什么？
chipo['choice_description'].value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

In [37]:
#步骤12 一共有多少商品被下单？
total_items_orders = chipo['quantity'].sum()

In [38]:
total_items_orders

4972

In [77]:
#步骤13 将item_price转换为浮点数
dollarizer = lambda x: float(x[1:-1])

In [78]:
chipo['item_price'] = chipo['item_price'].apply(dollarizer)

In [66]:
chipo

,order_id,quantity,item_name,choice_description,item_price,sub_total
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [48]:
#步骤14 在该数据集对应的时期内，收入(revenue)是多少
chipo['sub_total'] = round(chipo['item_price'] * chipo['quantity'],2)

In [49]:
chipo#单独添加了一列，该列为两个列的乘积

,order_id,quantity,item_name,choice_description,item_price,sub_total
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [53]:
chipo['sub_total'].sum() #对该列进行求和

39237.02

In [51]:
#步骤15 在该数据集对应的时期内，一共有多少订单？
chipo['order_id'].nunique() #number of unique

1834

In [59]:
#步骤16 每一单(order)对应的平均总价是多少？
chipo[['order_id','sub_total']].groupby(by='order_id').agg({'sub_total':'sum'})['sub_total'].mean()

21.394231188658654

In [60]:
#上述操作，属于先分组、再计算每个订单的总价格，再求平均值
#agg和apply的区别：
#agg函数内调用的函数只能对分组进行聚合使用。
#agg是用来聚合运算的，所谓的聚合当然是合成的成分比较大些，聚合只不过是分组运算的其中一种而已。它是数据转换的一个特例，也就是说，它接受能够将一维数组简化为标量值的函数。
#当然这两个函数都是作用在groupby对象上的，也就是分完组的对象上的，分完组之后针对某一组，如果值是一维数组，在利用完特定的函数之后，能做到简化的话，agg就能调用，反之，如果比如自定义的函数是排序，或者像是书中278页所定义的top这一类的函数，当然是agg所不能解决的，这时候用apply就可以解决。因为他更一般化，不存在什么简化，什么一维数组，什么标量值。

In [61]:
#步骤17 一共有多少种不同的商品被售出？

In [62]:
chipo['item_name'].nunique()

50